$lightblue: #47abc7;
$darkblue: #334b60;

a {
  color: $darkblue;
  cursor: pointer;
}
a:hover {
  color: $lightblue;
}


body{
  padding: 0;
  margin: 0;
  font-family: "museo-slab", sans-serif;
}


// nav styles
nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  width:100%;
  padding: 20px 0 18px;
  .branding {
    float: left;
    svg {
      width: 40px;
      max-height: 40px;
      fill: #334b60;
      opacity: .6;
      transition: fill 1s, opacity 1s ;
    }
    svg:hover {
      opacity: .8;
      fill: #47abc7;
    }
  }
  .mobile-menu {
    display: none;
    @media screen and (max-width: 700px) {
      display: block;
      float: right;
      padding: 0 5px ;
      font-weight: 700;
      color: $lightblue;
    }
  }
  .links {
    float: right;
    @media screen and (max-width: 700px) {
      //clear: both
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
        @media screen and (max-width: 700px) {
          //padding-top: 8px;
        }
      li {
        float: left;
        @media screen and (max-width: 700px) {

        }
        a {
          display:inline-block;
          padding: 20px 20px 0;
          text-decoration: none;
          @media screen and (max-width: 700px) {
            padding: 0px 5px;
            border-right: 1px solid rgba(51,75,96,.1);
          }
        }
      }
      li:last-child {
        float: left;
        @media screen and (max-width: 700px) {

        }
        a {
          @media screen and (max-width: 700px) {
            border-right: none;
          }
        }
      }
    }
  }
}
nav.min {
  padding: 8px 0 5px;
  background: #fff;
  border-bottom: 1px solid rgba(51,75,96,.1);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition:  all 500ms ease;
  transition: all 500ms ease;
  .links ul li a {
    padding: 10px 20px 0;
    @media screen and (max-width: 700px) {
      padding: 0px 5px;
      //border-right: 1px solid rgba(51,75,96,.1);
    }
  }
  .links ul li a:last-child {
    @media screen and (max-width: 700px) {
      //border-right: none;
    }
  }
} // nav end


// header styles
header {
  padding: 105px 0 80px;
  text-align: center;
  color: rgba(51,75,96,.6);
  img {
    display: inline-block;
    max-width: 240px;
    margin: 40px 0;
    @media screen and (max-width: 500px) {
      margin: 10px 0 20px;
      width: 60%;
    }
  }
  span {
    display: block;
    font-size: 21px;
    @media screen and (max-width: 500px) {
      font-size: 18px;
    }
  }
  span.title {
    font-size: 18px;
    font-family: "bookmania", sans-serif;
    opacity: .4;
  }
  h1 {
    font-weight: 700;
    margin: 0 0 5px 0;
    opacity: .8;
    background: -webkit-linear-gradient(rgba(71,171,199,.7), rgba(71,171,199,.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
  .arrow {
    margin-top: 50px;
    svg {
      max-width: 60px;
      fill: #334b60;
      opacity: .6;
      transition: fill 1s, opacity 1s ;
    }
    svg:hover {
      fill: #47abc7;
      opacity: .8;
    }
  }
} // header end


// main styles
main {
  padding-top: 60px;
  .exhibit-wrapper {
    background-color: rgba(51,75,96,0.2);
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), -moz-linear-gradient(top,  rgba(51,75,96,0.4) 0%, rgba(51,75,96,0.3) 15%, rgba(51,75,96,0.3) 50%, rgba(51,75,96,0.6) 100%);
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,75,96,0.4)), color-stop(15%,rgba(51,75,96,0.3)), color-stop(50%,rgba(51,75,96,0.3)), color-stop(100%,rgba(51,75,96,0.6)));
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), -webkit-linear-gradient(top,  rgba(51,75,96,0.4) 0%,rgba(51,75,96,0.3) 15%,rgba(51,75,96,0.3) 50%,rgba(51,75,96,0.6) 100%);
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), -o-linear-gradient(top,  rgba(51,75,96,0.4) 0%,rgba(51,75,96,0.3) 15%,rgba(51,75,96,0.3) 50%,rgba(51,75,96,0.6) 100%);
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), -ms-linear-gradient(top,  rgba(51,75,96,0.4) 0%,rgba(51,75,96,0.3) 15%,rgba(51,75,96,0.3) 50%,rgba(51,75,96,0.6) 100%);
    background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg), linear-gradient(to bottom,  rgba(51,75,96,0.4) 0%,rgba(51,75,96,0.3) 15%,rgba(51,75,96,0.3) 50%,rgba(51,75,96,0.6) 100%);
    //background-image: url(../images/exhibit-back-1.svg), url(../images/exhibit-back-2.svg);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: 1200px auto, 1200px auto, cover;
    padding: 0 0 30px;
    border-bottom: 1px solid rgba(51,75,96,.1);
    @media screen and (min-width: 1200px) {
      background-size: 1200px auto, cover, cover;
    }
    @media screen and (max-width: 840px) {
      background: rgba(51,75,96,.2);
    }
    @media screen and (max-height: 500px) {
      background: rgba(51,75,96,.2);
    }
    .gallery-wrapper {

      span {
        display: inline-block;
        padding: 40px 40px 20px;
        cursor: pointer;
      }
    }
    .intro-wrapper {
      padding: 200px 0 160px;
      opacity: .6;
      color: #334b60;
      @media screen and (max-width: 800px) {
        padding: 40px 0;
      }
      @media screen and (max-height: 500px) {
        padding: 40px 0;
      }
    }
    .display-wrapper {
      padding: 0;
      @media screen and (max-width: 800px) {
        display: none;
      }
      @media screen and (max-height: 500px) {
        display: none;
      }
      .size-btn-wrapper {
        float: none;
        padding: 0;
        margin-top: 60px;
        text-align: center;
        span {
          display: inline-block;
          font-size: 32px;
          padding:0 20px;
          cursor: pointer;
          .hrz {
            transform: rotate(90deg);
          }
        }
      }
      .display{
        position:relative;
        display: block;
        margin: 20px auto 0;
        border: 30px solid #222;
        width: 680px;
        height: 400px;
        border-radius: 12px;
        transition: all 0.25s ease-in-out;
        transform: scale(1) rotate(0deg);
        overflow: hidden;
        box-sizing: content-box;
        background: #222;
        iframe {
          position:relative;
          width: 1360px !important;
          height: 800px !important;
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);
          transform-origin: 0 0;
          transition: all 0s linear;
          border:1px solid #444;
        }
      }
      .desktop {
        width: 680px;
        height: 400px;
      }
      .tablet-p {
        width: 512px;
        height: 384px;
        transform: scale(1) rotate(-90deg);
        border: 50px solid #222;
        border-top: 15px solid #222;
        border-bottom: 15px solid #222;
        margin:120px auto 100px;
        iframe {
          position:relative;
          width: 768px !important;
          height: 1024px !important;
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5) rotate(90deg);
          transform-origin: 53.2% 20%;
          transition: all 0s linear;
        }
      }
      .tablet {
        width: 512px;
        height: 384px;
        border: 50px solid #222;
        border-top: 15px solid #222;
        border-bottom: 15px solid #222;
        iframe {
          position:relative;
          width: 1024px !important;
          height: 768px !important;
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);
          transform-origin: 0 0;
          transition: all 0s linear;
        }
      }
      .mobile-p {
        width: 420px;
        height: 240px;
        transform: scale(1) rotate(-90deg);
        border: 60px solid #222;
        border-top: 10px solid #222;
        border-bottom: 10px solid #222;
        margin: 160px auto 140px;
        iframe {
          position:relative;
          width: 320px !important;
          height: 560px !important;
          -webkit-transform: scale(0.75);
          -moz-transform: scale(0.75);
          -o-transform: scale(0.75);
          transform: scale(0.75) rotate(90deg);
          transform-origin: 84% 36%;
          transition: all 0s linear;
        }
      }
      .mobile {
        width: 420px;
        height: 240px;
        border: 60px solid #222;
        border-top: 10px solid #222;
        border-bottom: 10px solid #222;
        iframe {
          position:relative;
          width: 560px !important;
          height: 320px !important;
          -webkit-transform: scale(0.75);
          -moz-transform: scale(0.75);
          -o-transform: scale(0.75);
          transform: scale(0.75);
          transform-origin: 0 0;
          transition: all 0s linear;
        }
      }
    }
    .content-wrapper {
      padding: 0;
      a {
        padding: 0 20px 10px;
        display: inline-block;
      }
      p {
        font-family: "bookmania", sans-serif;
      }
    }
  }
  .about-wrapper {
    padding: 75px 20px;
    min-height: 300px;
    h3 {
      color: #47abc7;
      clear: both;
      margin-top: 0;
      padding-top: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    p {
      span{
        display:block;
      }
      span.role{
        font-weight: 700
      }
      span.date{
        opacity: .5;
      }
    }
    .summary p {
      font-family: "bookmania", sans-serif;
    }
  }
} // main end


// footer styles
footer {
  border-top: 1px solid rgba(51,75,96,.1);
  background: rgba(51,75,96,.3);
  padding:20px 0;
  min-height:100px;
  .social {
    list-style: none;
    padding: 0;
    @media screen and (max-width: 765px) {
      text-align: center;
    }
    li {
      display: inline-block;
      font-size: 30px;
      padding: 0 20px 0 0;
    }
  }
}

